.summary-container {
    flex: 1;
  &--tshirt {
    position: relative;
    margin-left: 6rem;
    font-size: 2.4rem;
    &::before {
      content: "";
      background: url(../../../assets/Icon-1.svg) no-repeat center/cover;
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: -1rem;
      left: -6rem;
    }
  }
  &--town {
    position: relative;
    font-size: 2.4rem;
    margin: 3rem 0;
    margin-left: 6rem;
    &::before {
      content: "";
      background: url(../../../assets/Icon-4.svg) no-repeat center/cover;
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: -1rem;
      left: -6rem;
    }
  }
  &-wrapper{
   display: flex;
  }
  &-list {
    & span {
      font-size: 2.4rem;
    }

    width: 400px;
  }
  &-item {

    & span {
      font-size: 2.4rem;
    }
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
}


.s5{
    margin: 6rem 0;
}