.kurier-container{
    flex: 1;
    display: flex;
    width: 50%;
    &-left{
flex: 1;
margin-right: 3rem;
    }
    &-right{
        flex: 1;
        flex-direction: column;
        display: flex;
        align-items: baseline;
        
    }

}

.kurier{
    &-list{
        width: 100%;
        &-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: baseline;
        
        }
    }
    &-input{
        background-color:transparent;
        border:1px solid #3c3c3c;
        width: 20rem;
        font-size: 2rem;
        
    }
    &-label{
        font-size: 2rem;
        white-space: pre-line;
    }
}