.button-text{
    color:$baseDgray-color;
    font-weight: 300;
    width: 300px;
    background-color: transparent;
    border:solid 1px $baseDgray-color;
    padding:2rem;
    font-size: 3.6rem;
    text-transform: uppercase;
}