.yellowBar{
    background-color:$baseYellow-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-item{
        text-align: center;
        width: 20%;
        
        font-weight: 300;
    }
    &-num{
         font-size: 9rem;
         color: $baseDark-color;
         padding-bottom: 2rem;
    }
    &-name{
        font-size: $fSizeM;
        color: $baseDgray-color;
        padding-bottom: 2rem;
        text-transform: uppercase;
        font-weight:400;
        letter-spacing: -0.36px;
    }
    
    &-text{
        font-size: $fSizeSm;
        font-family: $font-Merri;
        color: $baseDgray-color;
        letter-spacing: -0.32px;
    }
}
