.login{
        display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
 
    &-wraper{
        background-color: $baseLight-color;
        padding: 3rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        
        & .underline-h1{
            font-size: 4rem;
            font-weight: 500;
            padding-bottom: 3rem;

        }
    }
    &-container{
        width: 100%;
        max-width: 600px;
    }
    &-pagebuttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        
       & .btn{
           font-size: 2rem;
           font-weight: 500;
           white-space: nowrap;
           padding:2rem;
           border: 1px solid transparent;
           &:hover {
               border:solid 1px $baseDgray-color;
           }
       } 
    }
    &-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    & label{
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    & input {
        margin-bottom: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $baseDgray-color;
        font-size: 2rem;
    }
}
}



