.header {
  display: flex;
  height: 100vh;
  flex-wrap: wrap-reverse;
  &-left {
    flex: 1;
    position: relative;
  }
  &-img {
    position: absolute;
    top: 0;
    right: 20%;
    height: 100%;
  }
  &-right {
    flex: 1;
    white-space: pre-line;
  }
}

li {
  list-style: none;
}
.header-right {
  display: flex;
  flex-direction: column;
  &_wrapper {
    padding: 3rem 15rem;
  }
  }

.helping {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0 7rem;
  
}
.button-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

