 .nav{
      display: flex;
      flex-direction: column;
  margin-right: 10rem;;
      position: sticky;
      top: 0rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      z-index: 29;
    }
//  .navBack{
//    position: relative;
//    &::after{
//       content: "";
//       position: absolute;
//       top: -30px;
//       right: -10rem;
//       opacity: 0.2;
//       background-color: grey; 
//       height: 105px; 
//       width: 120%;
//     }
//  }
.login-buttons {
    display: flex;
    justify-content: flex-end;
    &-item {
      padding: 0.5rem;
      font-size: 1.4rem;
      &:last-child {
        margin-left: 1rem;
        border: 1px solid $baseLgray-color;
      }
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;
    &-item  {
      padding: 1rem 3rem;
      white-space: nowrap;

      & .active {
        border: solid 1px $baseDgray-color;
        padding: 1rem;
      }
      &:last-child {
        padding-right: 0;
      }
   
    & a{

      font-size: $fSizeM;
      white-space: nowrap;
      
    }
   }
}
  